@font-face {
  font-family: 'calibre';
  src: url('../fonts/calibre/Calibre-Regular.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'rift';
  src: url('../fonts/rift/fort_foundry_-_rift-bold-webfont.woff2') format('woff2'),
       url('../fonts/rift/fort_foundry_-_rift-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'calibre';
}

li {
  list-style: none;
}

header {
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
}

.title {
  width: 20rem;
  font-size: 3.2rem;
  line-height: 0;
  width: 15rem;
}

.title a {
  color: #fff;
  font-family: 'rift';
  text-transform: uppercase;
  line-height: 0.8;
}

.blue {
  font-family: 'rift';
  color: #13f5f2
  ;
}

.nav a {
  color: #fff;
}

.navigation {
  background-image: linear-gradient(270deg, #ffa29c 5.19%, #643cfa 100%);
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.nav__list__item {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.nav__list__item a {
  font-family: 'rift';
  flex-grow: 1;
}

.nav li:last-of-type {
  background-color: #222;
  padding: 0.3rem 0.5rem;
}

.nav li:hover a {
  color: #222
}

.nav li:last-of-type:hover {
  background-color: #fff;
}

.countdown {
  text-align: center;
  background-color: #222;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem;
}

footer {
  background-color: #009;
  color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
} 

footer a {
  color: #fff;
}

footer li {
  margin-bottom: 1rem;
  list-style: none;
}

footer h2 {
  margin-bottom: 1rem;
}

.soclink a{
  text-decoration: underline;
}

.line-up {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.line-up__list {
  width: calc(33% - 1rem);
  padding: 0.5rem;
}

.line-up__img {
  padding-bottom: calc(214.812 / 322.219 * 100%);
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.line-up__img img {
  object-fit: contain;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease-in-out;
}

.line-up__list a {
  color: #000;
}